<link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.1.2/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.1.2/css/select.dataTables.min.css">
<link rel="stylesheet" href="/css/editor.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/select/1.1.2/js/dataTables.select.min.js"></script>
<script src="/js/dataTables.editor.min.js"></script>

<table id="example" class="display" cellspacing="0" width="100%">
		<h2><%= title %></h2>
		<hr>
		<div>
			<label>
				商品名稱：<input type="text" id="set-meal-name"></input>
			</label>
		</div>
		<div>
			<label>
				價格　　：<input type="text" id="set-meal-price"></input>
			</label>
		</div>
		<hr>
        <thead>
            <tr>
                <th>商品編號</th>
                <th>商品名稱</th>
                <th>數量</th>
            </tr>
        </thead>
    </table>

<script>
	var editor = new $.fn.dataTable.Editor({
		ajax: "/data/product/set/check",
		table: "#example",
		fields: [
			{
				label: "商品編號",
				name: "product_id",
				type: "select"
			}, {
				label: "數量",
				name: "quantity",
			}, {
				type: "hidden",
				name: "id"
			}
		],
		i18n: {
			create: {
				button: "新增",
				title: "新增原料"
			},
			edit: {
				button: "修改",
				title: "修改原料"
			},
			remove: {
				button: "刪除"
			}
		},
		idSrc: "id"
	});

	var datatable;
	$(document).ready(function() {
		datatable = $('#example').DataTable( {
			dom: "Brtp",
			columns: [
				{ data: 'product_std_id' },
				{ data: 'name' },
				{ data: 'quantity' },
				{ data: 'product_id', visible: false },
				{ data: 'id', visible: false }
			],
			select: true,
			buttons: [
				{
					extend: "create", 
					editor: editor
				}, { 
					extend: "edit", 
					editor: editor
				}, {
					extend: "remove",
					editor: editor
				}, {
					text: "送出",
					action: function() {
						var data = [];
						datatable.data().map(function(row) {
							data.push({
								product_id: row.product_id,
								quantity: row.quantity
							});
						});
						var post = {
							data: data,
							name: $('#set-meal-name').val(),
							price: $('#set-meal-price').val(),
							type: 'set'
						};
						$.ajax({
							type: 'POST',
							url: '/data/set/create',
							data: post,
							dataType: 'json',
							success: function(json) {
								if (json.status == 'success') {
									window.location = '/stock/product';
								}
							},
							error: function(xhr, error, thrown) {
							}
						})
					}
				}
			]
		} );
	} );
	
	$.ajax({
		type: 'GET',
		url: '/data/product',
		dataType: 'json',
		success: function(data) {
			var options = [];
			data.data.forEach(function(row) {
				console.log(row.type);
				if (row.type != '套餐') {
					options.push({
						label: row.std_id + ' (' + row.name + ')',
						value: row.id
					});				
				}
			});
			editor.field('product_id').update(options);
		},
		error: function() {
		}
	});
</script>