<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
	<body>
		<% include ../partials/header %>
		<div class="container-fluid">
			<div class="row">
				<% include ../partials/sidebar %>
				<div class="col-sm-10">
					<% include ../partials/schedule-content %>
				</div>
			</div>
		</div>
		<!--% include ../partials/modal %-->
		<% include ../partials/toggle %>
	</body>
</html>
